/* #region page */
$red: #D12D35;
$black: #161616;
$margin: 0 20px;


.page {
  font-size: 16px;
  line-height: 27px;
  scroll-behavior: smooth;
  color: $black;
}

body {
  margin: 0;
  font-family: Cinzel, serif;
  font-style: normal;
  font-weight: 700;
}

/* #endregion */

/* #region header */

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(/src/images/background-image.png);
  background-size: cover;
  background-position: center;
}

.header__bottom {
  height: 60px;
  min-width: 280px;
  padding-top: 200px;
}

.header__title {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

.top-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 25px 20px 0;
}

.top-bar__logo {
  height: 46px;
  width: 64px;
}

/* #endregion */

/* #region icon */

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone--call {
  background-image: url(/src/images/Icon-Phone-call.png);
}

.icon--burger--menu {
  background-image: url(/src/images/Icon-Burger-menu.png);
}

.icon--close {
  background-image: url(/src/images/Icon-Close.png);
}

/* #endregion */

/* #region menu */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $red;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}

.menu:target {
  opacity: 1;
  pointer-events: all;
}

.menu__content {
  padding-top: 20px;
  padding-inline: 20px;
  color: #fff;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  font-style: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin-top: 32px;
}

.call_text {
  text-transform: uppercase;
  margin: 0;
}

.menu__phone-number {
  text-decoration: none;
  color: #fff;
}

.call-to-order {
  width: fit-content;
  text-decoration: none;
  color: #fff;
  padding: 8px;
  border-bottom: 1px solid #fff;
}

/* #endregion */

/* #region schedule*/
.museum-hours {
  display: block;
  margin: 0;
  padding: 0;
  margin: 100px 20px 32px;

  &--text {
    margin: 0;
    color: $red;
    font-weight: 700;
    font-style: bold;
    font-size: 12px;
  }

  &--title {
    margin: 0;
    font-weight: 700;
    font-style: bold;
    font-size: 32px;
  }
}


.schedule {
  margin: $margin;
  margin-bottom: 100px;


  &__title {
    display: flex;
  }

  &__title--text {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
  }

  &__info {
    display: flex;
    gap: 24px;
  }

  &__info__time--hours {
    margin: 8px 0;
  }

  &__info__days--day {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0;
  }

  &__info__days--day:last-child,
  &__info__time--hours:last-child {
    margin-bottom: 0;
  }

  &__extra-info {
    margin: 0;
  }

  &__extra-info--title {
    margin: 0;
    margin-top: 16px;
  }

  &__extra-info--text {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0px;

  }
}
/* #endregion */

/* #region 1st section */
  .first-section {
    margin: 0;

    &__title {
      margin: 0;
      font-size: 32px;
      text-align: center;
    }

    &__text {
      margin: 0;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      margin-top: 8px;
    }

    &__block {
      margin: $margin;
      margin-top: 48px;
    }

    &__block-images {
      display: flex;
      justify-content: space-between;
    }

    &__block__info {
      margin: 0;
      margin-top: 24px;
    }

    &__block__info--title {
      margin: 0;
      font-size: 16px;
      color: $red;
    }

    &__block__info--text {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
    }

    &__button {
      margin: $margin;
      margin-top: 40px;
    }

    &__button--btn{
      text-decoration: none;
      color: #fff;
      background-color: $red;
      padding: 15px 51px
    }
  }


/* #endregion */

/* #region 2nd section*/

  .second-section {
    margin: $margin;
    margin-top: 100px;

    &__title {
      margin: 0;
      text-align: center;
      margin-bottom: 8px;
    }

    &__block {
      margin: 0;
      text-align: center;
    }

    &__block--title {
      margin: 0;
      padding: 24px 0 4px;
      color: $red;
      font-size: 24px;
    }

    &__block--text {
      margin: 0;
      font-family: Roboto;
      font-weight: 400;
      font-size: 16px;
    }

    &__block--image {
      margin-top: 40px;
    }
  }
/* #endregion*/

/* #region 3rd section*/
  .third-section {
    margin: $margin;
    margin-top: 100px;
    color: #3E3E3E;

   &__title {
    margin: 0;
    font-size: 32px;
    text-align: center;
   }

   &__block {
    margin: 0;
   }

   &__block--title {
    margin: 0;
    padding: 48px 0 16px;
    font-size: 16px;
   }

   &__block--phone {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
   }

   &__block--number {
      margin: 0;
      padding-top: 8px;
      padding-bottom: 4px;
      font-size: 16px;
    }

    &__block--address {
      margin: 0;
      font-weight: 400;
      font-size: 14px;
    }

    &__block--street {
      margin: 0;
      padding-top: 8px;
      padding-bottom: 4px;
      font-size: 16px;
    }
  }

/* #endregion*/

/* #region communication*/
  .communication {
    margin: $margin;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    &__input--name,
    &__input--text {
      background-color: #f8f8fa;
      margin: 0;
      margin-bottom: 16px;
      font-family: Cinzel;
      font-weight: 400;
      font-size: 14px;
      color: #7E7E83;
      width: 100%;
      border: none;
      height: 48px;
    }

    &__input--textarea {
      padding: 0;
      background-color: #f8f8fa;
      text-align: left;
      font-family: Cinzel;
      font-weight: 400;
      font-size: 14px;
      color: #7E7E83;
      border: none;
      height: 144px;
      color: #7E7E83;
    }

    &__button {
      height: 56px;
      cursor: pointer;
      border: none;
      border-radius: none;
      color: #fff;
      background-color: $red;
      font-family: Cinzel;
      font-size: 16px;
      font-weight: bold;
    }
  }
/* #endregion*/
/* #region footer*/
  .footer {
    box-sizing: border-box;
    width: 100%;

    .footer__image {
      width: 100%;
      background-size: cover;
      background-position: center;
    }
  }

/* #endregion*/
