/* #region page */

.page {
  font-size: 16px;
  line-height: 27px;
  scroll-behavior: smooth;
  color: #161616;
}

body {
  margin: 0;
  font-family: Cinzel, serif;
  font-style: normal;
  font-weight: 700;
}

/* #endregion */

/* #region header */

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(/src/images/background-image.png);
  background-size: cover;
  background-position: center;
}

.header__bottom {
  height: 60px;
  min-width: 280px;
  padding-top: 200px;
}

.header__title {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

.top-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 25px 20px 0;
}

.top-bar__logo {
  height: 46px;
  width: 64px;
}

/* #endregion */

/* #region icon */

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone--call {
  background-image: url(/src/images/Icon-Phone-call.png);
}

.icon--burger--menu {
  background-image: url(/src/images/Icon-Burger-menu.png);
}

.icon--close {
  background-image: url(/src/images/Icon-Close.png);
}

/* #endregion */

/* #region menu */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #d12d35;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}

.menu:target {
  opacity: 1;
  pointer-events: all;
}

.menu__content {
  padding-top: 20px;
  padding-inline: 20px;
  color: #fff;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  font-style: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin-top: 32px;
}

.call_text {
  text-transform: uppercase;
  margin: 0;
}

.menu__phone-number {
  text-decoration: none;
  color: #fff;
}

.call-to-order {
  width: fit-content;
  text-decoration: none;
  color: #fff;
  padding: 8px;
  border-bottom: 1px solid #fff;
}

/* #endregion */
